{
  "env": {
    "development": {
      "presets": [
        ["env", {
          "targets": {"node": 8},
          "modules" : false
        }]
      ],
      "plugins": ["external-helpers"]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {"node": 8}
        }]
      ]
    }
  }
}